<% provide(:title, "RSVP") %>
<section id="rsvp">
<div class="container push-down">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <div class="rsvp-invite">
                <h4 class="text-center">You are invited to our</h4>
                <h1 class="text-center">Wedding Celebration</h1>
                <p class="text-center">Fill out the form and indicate whether you will be joining us on our wedding day. Please RSVP before <strong>May 31, 2015</strong>.</p>
            </div>
        </div>
    </div>
    <%= render 'form' %>
</div>
</section>

