<%= simple_form_for([@post, @post.comments.build]) do |f| %>
    <p>
        <%= f.input :body, class: "form-control", rows: "3", label: false  %>
    </p>
    <p>
        <%= f.button :submit, "Submit Comment", class: "btn btn-primary" %>
    </p>
<% end %>