<% @guests.each_with_index do |guest, i| %>
        <% i += 1 %>
        <tr>
        <th scope="row"><%= i %></th>
        <td><%= link_to full_name(guest.user), guest.user %></td>
        <td><%= mail_to guest.user.email%></td>
        <td class="text-center">
            <% if guest.ceremony? %>
                <span class="label label-success">YES</span>
            <% else %>
                <span class="label label-danger">NO</span>
            <% end %>
        </td>
        <td class="text-center">
            <% if guest.reception? %>
                <span class="label label-success">YES</span>
            <% else %>
                <span class="label label-danger">NO</span>
            <% end %>
        </td>
        <td class="text-center"><span class="badge"><%= guest.party %></span></td>
    </tr>
<% end %>