<% provide(:title, "Admin") %>
<div id="wrapper">

    <%= render 'sidebar' %>

    <!-- Page Content -->
    <div id="page-content-wrapper">

        <div class="container-fluid">
        <a href="#menu-toggle" class="btn" id="menu-toggle"><i class="fa fa-bars fa-2x"></i></a>
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <h1 class="text-center">Welcome to your Wedding Dashboard</h1>
                    <h3 class="text-center">Select an option in the sidebar</h3>
                </div>
            </div>
        </div>

    </div> <!-- /#page-content-wrapper -->

</div> <!-- /#wrapper -->


<%= render 'toggle_script' %>