<footer>
  <div class="container">
    <div class="row">
        <div class="col-md-12 text-center">
            <p>Handcrafted by</p>
            <a href="http://www.periocity.com">Periocity</a>
        </div>
    </div>
  </div>
</footer>