<section id="gifts">

    <div class="container">
        <div class="row">
            <div class="section-header">
                <h1>Gifts</h1>
            </div>
            <h3>Here's a couple stores we registed with</h3>
            <div class="logos">
                <div class="col-md-6 text-center">
                    <a href="https://www-secure.target.com/gift-registry/giftgiver?registryId=t6n4LxPllCktCD-lKqi8cw"><img src="assets/target.png" class="target"></a>
                </div>
                <div class="col-md-6 text-center">
                    <a href="http://www.bedbathandbeyond.com/store/giftregistry/view_registry_guest.jsp?pwsToken=&eventType=Wedding&registryId=542020288&pwsurl="><img src="assets/bbb.png" class="bbb"></a>
                </div>
            </div>
        </div>
                
    </div>
    
</section>