<section id="ourstory">
    <div class="container">
        <div class="row">
            <div class="heart">
                <span class="heartbeat hidden-xs">Loading...</span>
            </div>
            <div class="section-header">
                <h1>Our Story</h1>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-6">
                <div class="bride">
                    <img src="https://s3.amazonaws.com/gracemikawedding/grace_kid.jpg" class="img-circle">
                    <div class="story-header">
                        <h2>Bride</h2>
                        <h1>Grace Dunlap</h1>
                    </div>
                    <p>
When I heard of this guy Mika that was taking over my old shift, I was excited to

meet a new co-worker. After a month of waiting, this mystery man appeared. I was 

delighted to see this handsome mysterious man walk through the door. After our 

first conversation, which was about three hours of interrogation from Mika, I was 

convinced that we would have an interesting and fun friendship. As months passed, 

Mika and I bonded and had an undeniable connection. As our lives changed, our new 

freedom lead us into each others arms, something until now we had only dreamed 

of. Our relationship developed rather quickly due to our already determined 

connection. Then late one night, Mika got down on one knee and put a ring on my 

finger. I was honored that this brilliant man was choosing to spend the rest of his life 

with me! Now, I look forward to our new journey as husband and wife and hold 

dearly the moments that pass until our wedding day.
                    </p>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-6">
                <div class="groom">
                    <img src="https://s3.amazonaws.com/gracemikawedding/mika_kid.jpg" class="img-circle">
                    <div class="story-header">
                        <h2>Groom</h2>
                        <h1>Mika Labergerie</h1>
                    </div>
                    <p>
I was just starting a new job and I was excited for the change and adventure. On my

first day, I was happy to meet everyone, including a beautiful young woman whom I 

would come to know as Grace. Grace and I ended up working late together those 

first few months which gave us a chance to get to know each other. The more I 

learned of her and watched her work, the clearer it was to me that this sweet girl 

had an undeniably big heart, and within that heart, so much love, kindness, and 

compassion. Time passed, and it was evident that our connection was growing 

deeper and stronger. Soon, she was appearing in my dreams, always portrayed as a 

source of great comfort and love. It was clearly time for me to share these dreams 

with her - and to confess my growing love!
                    </p>
                    <p>
As we dove deeper into this beautiful abyss of love, our connection was tested and 

strengthened. One fateful night, as I slipped into a trance looking deeply into her 

eyes, I knew that I was madly in love with this woman and wanted her next to me

for the rest of my life. I asked the age-old question, and to my joy she said ‘Yes!’

Now here we are, starting our journey, side by side, on that long beautiful road that 

merges our lives together
                    </p>
                </div>
            </div>
        </div>
    </div>

</section>