<section id="ourstory">
    <div class="container">
        <div class="row">
            <div class="heart">
                <span class="heartbeat hidden-xs">Loading...</span>
            </div>
            <div class="section-header">
                <h1>Our Story</h1>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-6">
                <div class="bride">
                    <img src="https://s3.amazonaws.com/gracemikawedding/grace_kid.jpg" class="img-circle">
                    <div class="story-header">
                        <h2>Bride</h2>
                        <h1>Grace Dunlap</h1>
                    </div>
                    <p>
Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut scelerisque lorem id risus dapibus dapibus. Nunc eget accumsan nisi. Maecenas elementum, justo eu condimentum sollicitudin, massa augue suscipit felis, et faucibus mi tellus id orci. Sed ac nulla ullamcorper elit condimentum fringilla eget eu lacus. Quisque ultricies rhoncus neque, ac venenatis justo vulputate in. Sed vel consequat ante. Cras efficitur purus ac sem facilisis luctus. Ut interdum diam sem, sed facilisis tellus tincidunt sed. Fusce vel lorem dignissim, suscipit mi sollicitudin, rhoncus risus. Sed est libero, ultrices ac varius quis, pellentesque vel nisi. Sed vehicula urna at tellus auctor, sit amet vestibulum ligula suscipit. Duis feugiat erat risus, quis faucibus neque varius a. Fusce ac quam pharetra, lacinia tortor id, dapibus sem. Donec varius, lacus vitae dapibus pharetra, est risus feugiat lectus, non auctor neque nisi eget lacus.
                    </p>
                    <p>
Donec eu rhoncus eros. Aliquam erat volutpat. Suspendisse eget lacus justo. Maecenas ultrices convallis elit eget sodales. Aenean eleifend ut orci vitae dictum. Vivamus semper non mi vel placerat. Suspendisse leo ante, luctus at dolor nec, fermentum tincidunt tortor. Aliquam feugiat laoreet convallis. Sed luctus ante eget pretium fermentum. Nulla facilisis odio arcu, at tempor nulla sodales vitae. Praesent metus dolor, varius ut tincidunt eget, ornare sit amet mi. Cras risus tortor, blandit ac pulvinar nec, tincidunt sed tellus. Aliquam nec ligula molestie, dictum turpis et, congue libero. Mauris elementum ut ante in vehicula. Suspendisse commodo porta eleifend.
                    </p>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-6">
                <div class="groom">
                    <img src="https://s3.amazonaws.com/gracemikawedding/mika_kid.jpg" class="img-circle">
                    <div class="story-header">
                        <h2>Groom</h2>
                        <h1>Mika Labergerie</h1>
                    </div>
                    <p>
Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut scelerisque lorem id risus dapibus dapibus. Nunc eget accumsan nisi. Maecenas elementum, justo eu condimentum sollicitudin, massa augue suscipit felis, et faucibus mi tellus id orci. Sed ac nulla ullamcorper elit condimentum fringilla eget eu lacus. Quisque ultricies rhoncus neque, ac venenatis justo vulputate in. Sed vel consequat ante. Cras efficitur purus ac sem facilisis luctus. Ut interdum diam sem, sed facilisis tellus tincidunt sed. Fusce vel lorem dignissim, suscipit mi sollicitudin, rhoncus risus. Sed est libero, ultrices ac varius quis, pellentesque vel nisi. Sed vehicula urna at tellus auctor, sit amet vestibulum ligula suscipit. Duis feugiat erat risus, quis faucibus neque varius a. Fusce ac quam pharetra, lacinia tortor id, dapibus sem. Donec varius, lacus vitae dapibus pharetra, est risus feugiat lectus, non auctor neque nisi eget lacus.
                    </p>
                    <p>
Donec eu rhoncus eros. Aliquam erat volutpat. Suspendisse eget lacus justo. Maecenas ultrices convallis elit eget sodales. Aenean eleifend ut orci vitae dictum. Vivamus semper non mi vel placerat. Suspendisse leo ante, luctus at dolor nec, fermentum tincidunt tortor. Aliquam feugiat laoreet convallis. Sed luctus ante eget pretium fermentum. Nulla facilisis odio arcu, at tempor nulla sodales vitae. Praesent metus dolor, varius ut tincidunt eget, ornare sit amet mi. Cras risus tortor, blandit ac pulvinar nec, tincidunt sed tellus. Aliquam nec ligula molestie, dictum turpis et, congue libero. Mauris elementum ut ante in vehicula. Suspendisse commodo porta eleifend.
                    </p>
                </div>
            </div>
        </div>
    </div>

</section>