<section id="photos">

    <div class="container">
            <div class="row">
                <div class="section-header">
                    <h1>Photo Gallery</h1>
                </div>
            </div>

            <div class="row">
                
                <div class="col-md-4">
                    <img class="img-responsive" src="https://s3.amazonaws.com/gracemikawedding/gracemika01.jpg">
                </div>
                <div class="col-md-4">
                    <img class="img-responsive" src="https://s3.amazonaws.com/gracemikawedding/gracemika02.jpg">
                </div>
                <div class="col-md-4">
                    <img class="img-responsive" src="https://s3.amazonaws.com/gracemikawedding/gracemika03.jpg">
                </div>

            </div>

            <div class="row">
                
                <div class="col-md-4">
                    <img class="img-responsive" src="https://s3.amazonaws.com/gracemikawedding/gracemika04.jpg">
                </div>
                <div class="col-md-4">
                    <img class="img-responsive" src="https://s3.amazonaws.com/gracemikawedding/gracemika05.jpg">
                </div>
                <div class="col-md-4">
                    <img class="img-responsive" src="https://s3.amazonaws.com/gracemikawedding/gracemika06.jpg">
                </div>

            </div>
     
    </div>
    
</section>