<section id="welcome">
    
    <div class="jumbotron" data-stellar-background-ratio="0.5">
    <div class="couple" data-stellar-ratio="1.2">
        <span class="names">Grace & Mika</span>
        <span class="date">September 26, 2015, Dayton, VA</span>
    </div>
    </div>

</section>