footer {
  height: 100px;
  background: $muted;
  position: relative;
  p {
    text-transform: uppercase;
    color: $pewter;
  }
  a {
    color: $pewter;
    &:hover {
      text-decoration: none;
      color: darken($pewter, 25%);
    }
  }
}