/* ==================================================
   VARIABLES
===================================================== */

$main_font: 'Raleway', sans-serif;
$accent_font: 'Droid Serif', serif;

$charcoal: #252525;
$muted: #cdcdcd;
$raspberry: #96377C;
$pewter: #595C68;
$dark_cyan: #1A6363;